body {
	width:auto;
	font-size: 1em;
}

table{
	border-collapse: collapse;
}

tr:nth-child(even) {
	background-color: cyan;
}
tr:nth-child(odd) {
	background-color: gray;
}

table,th {
	border: 2px solid black;
}

td {
	border:1px solid black;
}

#answers {
	display:none;
}